.form-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

.form-popup>.back {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.form-popup>form {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 250px;
    padding: 12px;
    top: 43%;
    left: 40%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    background-color: white;
}

form>input {
    padding: 10px 12px;
    margin-top: 12px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;
}

form>input:focus {
    outline: none;
}

.buttons {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.buttons>button {
    padding: 12px 14px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.button-cancel {
    background-color: var(--c-danger);
    color: white;
    border-radius: 4px;
}

.button-add {
    background-color: var(--c-primary);
    color: white;
    border-radius: 4px;
}